<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events</title>
</head>

<body>
    <%- include('./partials/header') %>


<ul>
    <% events.forEach((event,index) => {%>
        <li>
            <h3><%=event.name %></h3>
            <p>Location:<%=event.location%> Type:<%=event.type%></p>
            <p><%=index%></p>

        </li>
    <%}); %>
</ul>


</body>

</html>